:host {
	display: inline-block;
	margin-inline: .4em;
	line-height: initial;
}

::slotted(a) {
	display: block;
	border: solid 2px;
	border-radius: 8px;
	padding: .2em;
	text-decoration: none;
	line-height: 1rem;
	color: var(--header-nav-link-color);
}

::slotted(a:link) {
	color: var(--header-nav-link-color);
}

::slotted(a:visited) {
	color: var(--header-nav-visited-color);
}

::slotted(a:hover) {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

::slotted(a:active) {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}
