:host {
	display: inline;
	align-self: end;
	z-index: 7;
	margin-block-end: .4em;
	margin-inline-end: 0;
	border-radius: .8rem;
	padding-inline-end: .4em;
	block-size: max-content;
	min-block-size: 1cm;
	max-inline-size: calc(100% - .8em);
	overflow: hidden;
	line-height: 1cm;
	font-style: italic;
}

details[open] {
	background-color: var(--popup-box-background-color);
	color: var(--popup-box-text-color);
}

details > summary {
	padding-right: .8em;
}

details {
	margin-inline-start: 0;
	border-start-start-radius: .8rem;
	border-start-end-radius: .8rem;
	padding-block-start: .4em;
	padding-inline-start: .8em;
}

aside {
	display: block;
	block-size: max-content;
}

details + aside {
	display: none;
}

details[open] + aside {
	display: block;
	border-end-start-radius: .8rem;
	border-end-end-radius: .8rem;
	background-color: var(--popup-box-background-color);
	padding-block-end: .8em;
	padding-inline: .8em;
	color: var(--popup-box-text-color);
}

@media print {
	:host {
		display: block;
		position: static;
		padding-inline: 1rem;
		block-size: auto;
		overflow: visible;
	}

	details {
		display: inline;
		position: static;
		padding: 0;
		block-size: auto;
		overflow: visible;
	}

	details summary {
		padding-inline-end: 0;
	}

	details summary::marker {
		display: none;
		content: "";
	}

	details + aside {
		display: inline;
		position: static;
		padding-inline: 0;
		block-size: auto;
		overflow: visible;
	}
}
