:host {
	display: block;
	height: 100%;
	overflow: hidden visible;
	width: 100%;
}

slot {
	overflow: hidden visible;
	width: 100%;
}

::slotted(div) {
	overflow: hidden visible;
	overflow-wrap: break-word;
	width: 100%;
}

@media print {
	:host {
		overflow: visible;
	}

	slot {
		overflow: visible;
	}

	::slotted(div) {
		overflow: visible;
	}
}
