:host {
	display: block;
	block-size: 100%;
	inline-size: 100%;
	overflow: hidden visible;
}

slot {
	inline-size: 100%;
	overflow: hidden visible;
}

::slotted(div) {
	inline-size: 100%;
	overflow: hidden visible;
	overflow-wrap: break-word;
}

@media print {
	:host {
		overflow: visible;
	}

	slot {
		overflow: visible;
	}

	::slotted(div) {
		overflow: visible;
	}
}
