:host {
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	flex-flow: row wrap;
	column-gap: .6em;
	align-items: center;
	justify-content: center;
	z-index: 7;
	margin-inline: 0;
	border: 1px solid var(--header-nav-border-color);
	background-color: var(--header-nav-background-color);
	padding-block: .4em;
	block-size: max-content;
	color: var(--header-nav-text-color);
}

::slotted(a:link) {
	color: var(--header-nav-link-color);
}

::slotted(a:visited) {
	color: var(--header-nav-visited-color);
}

::slotted(a:hover) {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

::slotted(a:active) {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

@media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
	:host {
		flex-flow: row nowrap;
		padding: 0 .6em;
	}
}

@media print {
	:host {
		background-color: initial;
	}

	::slotted(a:link) {
		color: var(--header-nav-link-color);
	}

	::slotted(a:visited) {
		color: var(--header-nav-visited-color);
	}

	::slotted(a:hover) {
		background-color: var(--header-nav-hover-background-color);
		color: var(--header-nav-hover-text-color);
	}

	::slotted(a:active) {
		background-color: var(--header-nav-hover-background-color);
		color: var(--header-nav-hover-text-color);
	}
	}
