:host {
	background-color: var(--header-nav-background-color);
	border-color: var(--header-nav-border-color);
	border-style: solid;
	border-width: 1px;
	color: var(--header-nav-text-color);
	display: flex;
	height: 100%;
	overflow: hidden;
	padding: .4em;
	width: 100%;
}

language-selector + link-button {
	margin-left: auto;
}

language-selector + link-button,
link-button:first-of-type {
	margin-left: 0;
}

link-button:last-of-type {
	margin-right: 0;
}

language-selector {
	align-self: center;
	border: none;
	display: block;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: auto;
	padding-left: .4em;
	padding-right: .4em;
}

@media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
	:host {
		display: flex;
	}
}
