:host {
	display: flex;
	border: 1px solid var(--header-nav-border-color);;
	background-color: var(--header-nav-background-color);
	padding: .4em;
	block-size: 100%;
	inline-size: 100%;
	overflow: hidden;
	color: var(--header-nav-text-color);
}

language-selector + link-button {
	margin-inline-start: auto;
}

language-selector + link-button,
link-button:first-of-type {
	margin-inline-start: 0;
}

link-button:last-of-type {
	margin-inline-end: 0;
}

language-selector {
	display: block;
	align-self: center;
	margin-block: auto;
	margin-inline-start: auto;
	border: none;
	padding-inline: .4em;
}

@media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
	:host {
		display: flex;
	}
}
