@media print {
	:root {
		--main-background-color: #ddd;
		--main-text-color: #111;
		--main-link-color: #11c;
		--main-visited-color: #707;
		--main-hover-background-color: #222;
		--main-hover-text-color: #eee;
		--table-heading-background-color: #f0f0f0;
		--table-heading-text-color: #303030;
		--table-even-background-color: #c0c0c0;
		--table-even-text-color: #000;
		--header-nav-background-color: #222;
		--header-nav-border-color: #fff;
		--header-nav-text-color: #eff;
		--header-nav-link-color: #4fbfff;
		--header-nav-visited-color: #f8f;
		--header-nav-hover-background-color: #ddd;
		--header-nav-hover-text-color: #111;
		--codeblock-background-color: #ddd;
		--codeblock-text-color: #111;
		--popup-box-background-color: #c0c0c0;
		--popup-box-text-color: #000;
	}
}
