/* Page header and footer layout */

@media print {
	main > footer:last-of-type {
		height: max-content;
		min-height: initial;
	}

	body > div > footer:last-of-type  {
		display: none;
	}

	main > footer:last-of-type > details:last-of-type {
		display: inline;
		padding-left: 0;
	}

	main > footer:last-of-type > details:last-of-type > summary {
		display: inline;
		list-style: none;
		padding-right: 0;
	}

	main > footer:last-of-type > details:last-of-type + aside {
		display: inline;
	}

	main > footer:last-of-type > details:last-of-type + aside > address {
		display: inline;
		margin-bottom: 0;
	}

	main > footer:last-of-type > details:last-of-type + aside > address > br {
		display: none;
	}

	main > footer:last-of-type > details:last-of-type + aside > span {
		display: inline;
		margin-bottom: 0;
	}

	main > footer:last-of-type > details:last-of-type + aside > span + br {
		display: none;
	}
}
