{{- /* cspell:ignore csscolourscheme anchorize */ -}}
{{- $ctx := . -}}
{{- $curPage := .Page -}}
{{- /* May (probably should) be generated per page */ -}}
{{- if templates.Exists "partials/wtg-theme/output/head-css-inline.html" -}}
	{{- partialCached "wtg-theme/output/head-css-inline.html" . . -}}
{{- else -}}
	{{- partialCached "wtg-shell/output/head-css-inline.html" . . -}}
{{- end -}}
{{- /* Special handling for colour schemes; they are selected per-page but
	there is not a separate colour scheme for each page.
	*/ -}}
{{- $cssColourScheme := "default" -}}
{{- if isset $curPage.Params "csscolourscheme" -}}
	{{- $cssColourScheme = $curPage.Params.cssColourScheme -}}
{{- else if isset site.Params "csscolourscheme" -}}
	{{- $cssColourScheme = site.Params.cssColourScheme -}}
{{- end }}
{{- if templates.Exists "partials/wtg-theme/output/head-css-colour-schemes.html" -}}
	{{- partialCached "wtg-theme/output/head-css-colour-schemes.html" . $cssColourScheme -}}
{{- else -}}
	{{- partialCached "wtg-shell/output/head-css-colour-schemes.html" . $cssColourScheme -}}
{{- end -}}
{{- /* Should be page specific only */ -}}
{{- if templates.Exists "partials/wtg-theme/output/head-css-cacheable-per-page.html" -}}
	{{- partialCached "wtg-theme/output/head-css-cacheable-per-page.html" . . -}}
{{- else -}}
	{{- partialCached "wtg-shell/output/head-css-cacheable-per-page.html" . . -}}
{{- end -}}
{{- /* Should not be page or even section-specific; site-wide */ -}}
{{- if templates.Exists "partials/wtg-theme/output/head-css-cacheable.html" -}}
	{{- partialCached "wtg-theme/output/head-css-cacheable.html" . -}}
{{- else -}}
	{{- partialCached "wtg-shell/output/head-css-cacheable.html" . -}}
{{- end -}}
