{{- /* Trim whitespace before us */ -}}
{{- /* Mobile header
	<details>
		<summary>
			<span>{{ i18n "Menu" }}</span><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="24" height="24"><g><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" fill="white" /></g></svg>
		</summary>
	</details>
*/ -}}
{{- $curPage := .Page -}}
{{- $styleFiles := (slice
	"wtg-shell/components/top-nav.css"
	"wtg-shell/components/common.css"
) -}}
{{- $componentDict := (dict
	"styleFiles" $styleFiles
	"Page" $curPage
	"componentName" "top-nav"
	"ariaRole" "navigation"
) -}}
{{- if templates.Exists "partials/wtg-theme/components/common.html" -}}
	{{- partialCached "wtg-theme/components/common.html" $componentDict (printf "%s%s" "top-nav" (delimit $styleFiles " ")) -}}
{{- else if templates.Exists "partials/wtg-shell/components/common.html" -}}
	{{- partialCached "wtg-shell/components/common.html" $componentDict (printf "%s%s" "top-nav" (delimit $styleFiles " ")) -}}
{{- end -}}
{{- /* Remove trailing whitespace */ -}}
