<nav>
	<menu>
		<li><a href="{{ relref .Page "/" }}">{{ site.Title }}</a></li>
	</menu>
{{- /* Next header piece placeholder for language selector */ -}}
	<div></div>
{{- /* Next header piece is/are menu items, if a 'main' menu is defined */}}
	<menu>
{{- with site.Menus.main -}}
{{- range . }}
		<li><a href="{{- .URL -}}">{{- .Name -}}</a></li>
{{- end -}}
{{- else -}}
{{- /* Final section(s) is/are 'mainSections' items, if present */ -}}
{{- range site.Params.mainSections -}}
	{{- $page := site.GetPage ( printf "/%s" . ) -}}
	{{- with $page }}
		<li><a href="{{ .RelPermalink }}">
			{{- if templates.Exists "partials/wtg-theme/helpers/find-link-title" -}}
				{{- partialCached "wtg-theme/helpers/find-link-title" . . -}}
			{{- else -}}
				{{- partialCached "wtg-shell/helpers/find-link-title" . . -}}
			{{- end -}}
		</a></li>
{{- end -}}
{{- end -}}
{{- end }}
	</menu>
</nav>
{{- /* Remove trailing whitespace */ -}}
