{{- /* Trim whitespace before us */ -}}
{{- /* First header piece is a link to the home page with the site's name as as the text */}}
<nav>
<menu>
<li><a href="{{ relref .Page "/" }}">{{ site.Title }}</a></li>
</menu>
{{- /* Next header piece is/are links to translations of this page */ -}}
{{- if .IsTranslated }}
<menu>
	{{- range .Translations }}
<li><a href="{{ .RelPermalink }}">{{ with .Language.LanguageName }}{{ . }}{{ else }}{{ .Lang }}{{ end }}</a></li>
	{{- end }}
</menu>
{{- end }}
{{- /* Next header piece is/are menu items, if a 'main' menu is defined */}}
<menu>
{{- with site.Menus.main -}}
	{{- range . }}
<li><a href="{{- .URL -}}">{{- .Name -}}</a></li>
	{{- end -}}
{{- else -}}
{{- /* Final section(s) is/are 'mainSections' items, if present */ -}}
{{- range site.Params.mainSections -}}
		{{- $page := site.GetPage ( printf "/%s" . ) -}}
		{{- with $page }}
<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end -}}
{{- end -}}
{{- end }}
</menu>
</nav>
{{- /* Remove trailing whitespace */ -}}
