/* CSS color schemes required above the fold on every page
 * We do this for colors to avoid a flash when page loads, especially for dark themes
 */

:root {
	--main-background-color: #ddd;
	--main-text-color: #111;
	--main-link-color: #11c;
	--main-visited-color: #707;
	--main-hover-background-color: #222;
	--main-hover-text-color: #eee;
	--table-heading-background-color: #f0f0f0;
	--table-heading-text-color: #303030;
	--table-even-background-color: #c0c0c0;
	--table-even-text-color: #000;
	--header-nav-background-color: #222;
	--header-nav-border-color: #fff;
	--header-nav-text-color: #eff;
	--header-nav-link-color: #4fbfff;
	--header-nav-visited-color: #f8f;
	--header-nav-hover-background-color: #ddd;
	--header-nav-hover-text-color: #111;
	--codeblock-background-color: #444;
	--codeblock-text-color: #fff;
	--popup-box-background-color: #c0c0c0;
	--popup-box-text-color: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-background-color: #191919;
		--main-text-color: #ccc;
		--main-link-color: #aaf;
		--main-visited-color: #c9f;
		--main-hover-background-color: #bbb;
		--main-hover-text-color: #000;
		--table-heading-background-color: #333;
		--table-heading-text-color: #d9d9d9;
		--table-even-background-color: #000;
		--table-even-text-color: #a9a9a9;
		--header-nav-background-color: #292929;
		--header-nav-border-color: #000;
		--header-nav-text-color: #ddd;
		--header-nav-link-color: #ccf;
		--header-nav-visited-color: #ff90ff;
		--header-nav-hover-background-color: #eee;
		--header-nav-hover-text-color: #333;
		--codeblock-background-color: #eee;
		--codeblock-text-color: #222;
		--popup-box-background-color: #000;
		--popup-box-text-color: #a9a9a9;
	}
}
