/* CSS color schemes required above the fold on every page
 * We do this for colors to avoid a flash when page loads, especially for dark themes
 */

:root {
	--main-background-color: #191919;
	--main-text-color: #ccc;
	--main-link-color: #aaf;
	--main-visited-color: #c9f;
	--main-hover-background-color: #bbb;
	--main-hover-text-color: #000;
	--table-heading-background-color: #333;
	--table-heading-text-color: #d9d9d9;
	--table-even-background-color: #000;
	--table-even-text-color: #a9a9a9;
	--header-nav-background-color: #393939;
	--header-nav-border-color: #000;
	--header-nav-text-color: #cfcfcf;
	--header-nav-link-color: #ddf;
	--header-nav-visited-color: #fbf;
	--header-nav-hover-background-color: #eee;
	--header-nav-hover-text-color: #333;
	--codeblock-background-color: #eee;
	--codeblock-text-color: #222;
	--popup-box-background-color: #000;
	--popup-box-box-shadow-color: #333;
	--popup-box-text-color: #a9a9a9;
}

