/* CSS color schemes required above the fold on every page
 * We do this for colors to avoid a flash when page loads, especially for dark themes
 */

:root {
	--main-background-color: #020;
	--main-text-color: #dae0da;
	--main-link-color: #cc8;
	--main-visited-color: #a0e9d0;
	--main-hover-background-color: #adc;
	--main-hover-text-color: #111;
	--table-heading-background-color: #0f3f29;
	--table-heading-text-color: #c0e0ca;
	--table-even-background-color: #010;
	--table-even-text-color: #bad0ba;
	--header-nav-background-color: #0f3f29;
	--header-nav-border-color: #000;
	--header-nav-text-color: #cae5ca;
	--header-nav-link-color: #d9d999;
	--header-nav-visited-color: #99e9b9;
	--header-nav-hover-background-color: #bee9c9;
	--header-nav-hover-text-color: #0f3f29;
	--codeblock-background-color: #ccc;
	--codeblock-text-color: #102010;
	--popup-box-background-color: #010;
	--popup-box-text-color: #bad0ba;
}
