/* CSS colours for the page footer */

body footer:last-of-type {
	background-color: var(--header-nav-background-color);
	border-top-color: var(--header-nav-border-color);
	color: var(--header-nav-text-color);
}

body footer:last-of-type a {
	color: var(--header-nav-link-color);
}

body footer:last-of-type a:link {
	color: var(--header-nav-link-color);
}

body footer:last-of-type a:visited {
	color: var(--header-nav-visited-color);
}

body footer:last-of-type a:hover {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

body footer:last-of-type a:active {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

