/* Page header and footer */

main > footer:last-of-type > details > summary {
	padding-right: .8em;
}

header:first-of-type > details:first-of-type {
	border-style: solid;
	border-width: 1px;
}

header:first-of-type > nav {
	border-style: solid;
	border-width: 1px;
	padding-bottom: .2em;
	padding-top: .2em;
}

header:first-of-type nav details summary {
	border: solid 1px;
	list-style-type: none;
	padding-left: .4em;
	padding-right: .4em;
}

header:first-of-type > details:first-of-type > summary {
	list-style-type: none;
	text-align: right;
}

header:first-of-type > details:first-of-type > summary > span {
	margin-left: auto;
	vertical-align: middle;
}

header:first-of-type > details:first-of-type > summary > svg {
	vertical-align: middle;
}

header:first-of-type > details:first-of-type > summary > span + svg {
	margin-left: .4em;
}

main > footer:last-of-type {
	border-radius: .8rem;
	font-style: italic;
	margin-bottom: .4em;
	padding-right: .4em;
}

body > div > footer:last-of-type {
	border-style: solid;
	border-width: 1px;
}

main > footer:last-of-type > details:last-of-type {
	border-top-left-radius: .8rem;
	border-top-right-radius: .8rem;
	margin-left: 0;
	padding-left: .8em;
	padding-top: .4em;
}

main > footer:last-of-type > details[open] + aside {
	border-bottom-left-radius: .8rem;
	border-bottom-right-radius: .8rem;
	display: block;
	padding-bottom: .8em;
	padding-left: .8em;
	padding-right: .8em;
}

header:first-of-type nav menu a {
	text-decoration: none;
}

header:first-of-type nav details > summary + div  a {
	text-decoration: none;
}

header:first-of-type nav > menu:first-of-type > li a {
	text-overflow: ellipsis;
	white-space: nowrap;
}
