/* Page header and footer */

main > footer:last-of-type > details > summary {
	padding-right: .8em;
}

header:first-of-type > details:first-of-type {
	border-style: solid;
	border-width: 1px;
}

header:first-of-type > nav {
	border-style: solid;
	border-width: 1px;
}

header:first-of-type > nav details summary {
	border: solid 1px;
	list-style-type: none;
	padding-left: .4em;
	padding-right: .4em;
}

header:first-of-type > details:first-of-type > summary {
	list-style-type: none;
	text-align: right;
}

header:first-of-type > details:first-of-type > summary > span {
	margin-left: auto;
	vertical-align: middle;
}

header:first-of-type > details:first-of-type > summary > svg {
	vertical-align: middle;
}

header:first-of-type > details:first-of-type > summary > span + svg {
	margin-left: .4em;
}

main > footer:last-of-type {
	font-style: italic;
}

main > footer:last-of-type > details[open] {
	padding: .8em;
}

body > div > footer:last-of-type {
	border-style: solid;
	border-width: 1px;
}

header:first-of-type nav menu a {
	text-decoration: none;
}

header:first-of-type nav > menu:first-of-type > li a {
	text-overflow: ellipsis;
	white-space: nowrap;
}
