{{ define "main-content" }}
{{- if templates.Exists "partials/wtg-theme/output/layout-default-list.html" }}
{{ partial "wtg-theme/output/layout-default-list.html" . -}}
{{- else }}
	{{- if templates.Exists "partials/wtg-theme/output/mangle-content.html" -}}
		{{- partial "wtg-theme/output/mangle-content.html" . -}}
	{{- else if templates.Exists "partials/wtg-shell/output/mangle-content.html" -}}
		{{- partial "wtg-shell/output/mangle-content.html" . -}}
	{{- end -}}
{{ if .Data.Pages }}
		<ul>
	{{- range .Data.Pages }}
			<li><a href="{{ .RelPermalink }}">
		{{- if templates.Exists "partials/wtg-theme/helpers/find-link-title" }}
			{{- partialCached "wtg-theme/helpers/find-link-title" . . | safeHTML -}}
		{{ else }}
			{{- partialCached "wtg-shell/helpers/find-link-title" . . | safeHTML -}}
		{{ end -}}
			</a></li>
{{- end }}
		</ul>
{{- end -}}
{{- end -}}
{{ end }}
{{- /* Remove trailing newlines */ -}}
