/* CSS color application */

body {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
}

a {
	color: var(--main-link-color);
}

a:link {
	color: var(--main-link-color);
}

a:visited {
	color: var(--main-visited-color);
}

a:active {
	background-color: var(--main-hover-background-color);
	color: var(--main-hover-background-color);
}

a:hover {
	background-color: var(--main-hover-background-color);
	color: var(--main-hover-text-color);
}

page-footer > details:hover > summary {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}
