/* CSS for generic elements layout */

:root {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	display: grid;
	position: relative;
	top: 0;
	left: 0;
	grid-template-rows: minmax(max-content, 1fr) 20fr;
	z-index: 3;
	margin: 0;
	padding: 0;
	block-size: 100vh;
	inline-size: 100%;
	overflow: hidden;
}

a {
	display: inline-block;
	vertical-align: middle;
}

h1 {
	margin-block-start: .8em;
}

body > header {
	inline-size: 100%;
}

body > header > top-nav {
	display: block;
	block-size: max-content;
	inline-size: 100%;
	overflow: hidden;
}

scrollable-section {
	display: grid;
	position: relative;
	top: 0;
	left: 0;
	grid-template-rows: minmax(max-content, 20fr) max-content;
	block-size: auto;
	inline-size: 100%;
}

main {
	display: grid;
	grid-template-rows: max-content minmax(max-content, 20fr) max-content;
	inline-size: 100%;
}

main-footer {
	justify-self: end;
}

/* @media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
} */

@media screen and (width >= 700px) and (resolution < 2dppx) {
	main {
		margin-inline: .6em;
	}
}

@media screen and (width >= 1200px) and (resolution >= 2dppx) {
	main {
		margin-inline: .6em;
	}
}

top-nav link-button {
	text-overflow: ellipsis;
	white-space: nowrap;
}

page-footer > details {
	margin: 0;
	padding: 0;
	line-height: .9rem;
}

page-footer > details > summary {
	display: inline-block;
	margin: .1em;
	border-bottom: solid 1px;
	padding: .1em;
	list-style: "";
	line-height: .9rem;
}

page-footer details + div {
	display: none;
}

page-footer > details[open] + div {
	display: block;
	position: absolute;
	bottom: 100%;
	border: solid 2px;
	border-radius: 8px;
	background-color: var(--header-nav-background-color);
	padding: .1em .8em;
	color: var(--header-nav-text-color);
}

page-footer > div:nth-of-type(3):nth-last-of-type(1) {
	display: inline-block;
	margin-block: .1em;
	padding: .1em;
	line-height: .9rem;
}

page-footer > div:nth-of-type(3):nth-last-of-type(1) a {
	display: block;
	margin-block: .1em;
	border-block-end: solid 1px;
	padding: .1em;
	text-decoration: none;
	line-height: .9rem;
}

main-footer [slot^="rollup-contents"] address::before {
	content: "(";
}

main-footer [slot^="rollup-contents"] address::after {
	content: ")";
}

main-footer [slot^="rollup-contents"] address > *::after {
	content: ", ";
}

main-footer [slot^="rollup-contents"] address > *:last-of-type::after {
	display: none;
	content: "";
}
