/* CSS for top-level page layout */

body {
	display: grid;
	position: relative;
	top: 0;
	left: 0;
	grid-template-rows: minmax(max-content, 1fr) 20fr;
	z-index: 3;
	block-size: 100vh;
	inline-size: 100%;
	overflow: hidden;
}

body > header {
	display: none;
	block-size: max-content;
	inline-size: 100%;
	overflow: hidden;
}

scrollable-section {
	display: grid;
	position: relative;
	top: 0;
	left: 0;
	grid-template-rows: minmax(max-content, 20fr) max-content;
	block-size: auto;
	inline-size: 100%;
}

main {
	display: grid;
	grid-template-rows: max-content minmax(max-content, 20fr) max-content;
	inline-size: 100%;
}

main-footer {
	justify-self: end;
}

@media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
	body > header {
		display: block;
	}
}

@media screen and (width >= 700px) and (resolution < 2dppx) {
	main {
		margin-inline: .6em;
	}
}

@media screen and (width >= 1200px) and (resolution >= 2dppx) {
	main {
		margin-inline: .6em;
	}
}
