/* CSS for top-level page layout */

body {
	display: grid;
	grid-template-rows: minmax(max-content, 1fr) 20fr;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 3
}

body > header {
	display: none;
	height: max-content;
	overflow: hidden;
	width: 100%;
}

scrollable-section {
	display: grid;
	grid-template-rows: minmax(max-content, 20fr) max-content;
	height: auto;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}

main {
	display: grid;
	grid-template-rows: max-content minmax(max-content, 20fr) max-content;
	width: 100%;
}

main-footer {
	justify-self: end;
}

@media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
	body > header {
		display: block;
	}
}

@media screen and (width >= 700px) and (resolution < 2dppx) {
	main {
		margin-left: .6em;
		margin-right: .6em;
	}
}

@media screen and (width >= 1200px) and (resolution >= 2dppx) {
	main {
		margin-left: .6em;
		margin-right: .6em;
	}
}
