/* CSS for top-level page layout */

body {
	display: grid;
	grid-template-rows: minmax(1cm, auto) 1fr;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 3
}

body > header:first-of-type {
	overflow: visible;
}

main {
	height: 100%;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 4
}

body header:first-of-type + div:first-of-type {
	display: grid;
	grid-template-rows: 1fr minmax(1cm, auto);
	height: 100%;
	left: 0;
	min-height: calc(100vh - 1cm);
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 5;
}

body header:first-of-type + div:first-of-type > main {
	height: max-content;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
}
