/* Page header and footer layout */
main > footer:last-of-type > details:first-of-type + aside {
	display: none;
}

main > footer:last-of-type > details:first-of-type[open] + aside {
	display: block;
	height: max-content;
}

main > footer:last-of-type {
	bottom: 0;
	display: block;
	height: max-content;
	line-height: 1cm;
	margin-right: 0;
	max-width: calc(100% - .8em);
	min-height: 1cm;
	overflow: hidden;
	padding-right: 0;
	position: absolute;
	right: .4em;
	width: max-content;
	z-index: 7;
}

header:first-of-type > details:first-of-type {
	display: block;
	line-height: 1cm;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 7;
}

header:first-of-type > details:first-of-type + nav {
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 1em;
	padding-right: 1em;
	position: fixed;
}

header:first-of-type nav details summary {
	border: solid 1px;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: .4em;
	padding-right: .4em;
	width: max-content;
}

header:first-of-type > details:first-of-type[open] + nav {
	max-height: calc(100vh - 1cm);
	min-height: 60vh;
	padding-top: 1em;
	position: absolute;
	right: 0;
	top: 1cm;
	width: 70vw;
	z-index: 7;
}

header:first-of-type > details:first-of-type[open] + nav details summary {
	margin-bottom: .6em;
	margin-top: .6em;
}

body > div > footer:last-of-type > div {
	align-items: center;
	column-gap: .6em;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: .4em;
	padding-top: .4em;
}

header:first-of-type > details:first-of-type[open] + nav > details[open] > summary + div > span {
	display: list-item;
	list-style-type: none;
}

header:first-of-type > details:first-of-type[open] + nav > details[open] > summary + div {
	display: inline-block;
	margin-top: 1em;
	vertical-align: middle;
}

header:first-of-type > details:first-of-type + nav menu {
	padding-left: 0;
}

header:first-of-type > details:first-of-type + nav menu li {
	list-style-type: none;
}

header:first-of-type > details:first-of-type[open] + nav menu li {
	margin-bottom: .6em;
	margin-top: .6em;
}

body > div > footer:last-of-type {
	height: max-content;
}

@media screen and (width >= 700px) and (resolution < 2dppx), screen and (width >= 1200px) and (resolution >= 2dppx) {
	header:first-of-type > nav details {
		align-self: center;
		margin-left: auto;
	}

	header:first-of-type > details:first-of-type {
		z-index: 2;
	}

	body > div > footer:last-of-type > div {
		flex-flow: row nowrap;
		padding-bottom: 0;
		padding-top: 0;
	}

	header:first-of-type > nav details[open] > div {
		border-right: solid 2px;
		display: inline;
		flex-flow: row nowrap;
		margin-left: 0;
		padding-right: .8em;
	}

	header:first-of-type > nav menu {
		flex: content 0 0;
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
	}

	header:first-of-type > nav menu li {
		list-style-type: none;
	}

	header:first-of-type > nav menu a {
		display: inline-block;
		padding-left: .4em;
		padding-right: .4em;
	}

	header:first-of-type > nav > menu:first-of-type {
		overflow: hidden;
	}

	header:first-of-type > nav > menu:first-of-type > li {
		overflow: hidden;
	}

	header:first-of-type > nav > menu:first-of-type > li a {
		display: inline-block;
		overflow: hidden;
		padding-left: .4em;
		padding-right: .4em;
	}

	header:first-of-type > nav menu:nth-of-type(2) {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
	}

	header:first-of-type > nav menu:nth-of-type(2) li {
		margin-left: 1em;
		margin-right: 1em;
	}

	header:first-of-type > nav details[open] span {
		display: inline-block;
	}

	header:first-of-type > nav details[open] span a {
		display: block;
		height: 100%;
		padding-right: .4em;
		width: 100%;
	}

	header:first-of-type > nav details[open] span + span {
		border-left: solid 2px;
		padding-right: .6em;
	}

	header:first-of-type > nav menu:nth-of-type(2) li:last-of-type {
		margin-left: 1em;
		margin-right: 0;
	}

	header:first-of-type > nav menu:nth-of-type(2) li:first-of-type {
		margin-left: 0;
		margin-right: 1em;
	}

	header:first-of-type > nav {
		column-gap: 1rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		left: 0;
		max-height: max-content;
		min-height: 1cm;
		overflow: hidden;
		padding-left: .4rem;
		padding-right: .4rem;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 7;
	}

	header:first-of-type > nav details[open] {
		display: block;
		text-align: right;
		width: 100%;
	}

	header:first-of-type > nav details[open] summary {
		display: inline;
		margin-right: 1em;
	}

	body > div > footer:last-of-type {
		padding-left: .6em;
		padding-right: .6em;
	}
}
