top-nav link-button {
	text-overflow: ellipsis;
	white-space: nowrap;
}

page-footer > details {
	line-height: .9rem;
	margin: 0;
	padding: 0;
}

page-footer > details > summary {
	border-bottom: solid 1px;
	display: inline-block;
	line-height: .9rem;
	list-style: "";
	margin: .1em;
	padding: .1em;
}

page-footer details + div {
	display: none;
}

page-footer > details[open] + div {
	background-color: var(--header-nav-background-color);
	border: solid 2px;
	border-radius: 8px;
	bottom: 100%;
	color: var(--header-nav-text-color);
	display: block;
	padding: .1em .8em;
	position: absolute;
}

page-footer > div:nth-of-type(3):nth-last-of-type(1) {
	display: inline-block;
	line-height: .9rem;
	margin-block: .1em;
	padding: .1em;
}

page-footer > div:nth-of-type(3):nth-last-of-type(1) a {
	border-bottom: solid 1px;
	display: block;
	line-height: .9rem;
	margin-block: .1em;
	padding: .1em;
	text-decoration: none;
}

main-footer [slot^="rollup-contents"] address::before {
	content: "(";
}

main-footer [slot^="rollup-contents"] address::after {
	content: ")";
}

main-footer [slot^="rollup-contents"] address > *::after {
	content: ", ";
}

main-footer [slot^="rollup-contents"] address > *:last-of-type::after {
	content: "";
	display: none;
}
