@media screen and (width >= 700px) and (resolution < 2dppx) {
	main > * {
		margin-left: .6em;
		margin-right: .6em;
	}
}

@media screen and (width >= 1200px) and (resolution >= 2dppx) {
	main > * {
		margin-left: .6em;
		margin-right: .6em;
	}
}
