/* CSS colours for the page header and footer */

header:first-of-type nav details {
	color: var(--header-nav-link-color);
}

header:first-of-type > details:first-of-type {
	background-color: var(--header-nav-background-color);
	border-color: var(--header-nav-border-color);
	color: var(--header-nav-text-color);
}

header:first-of-type > nav {
	background-color: var(--header-nav-background-color);
	border-color: var(--header-nav-border-color);
	color: var(--header-nav-text-color);
}

header:first-of-type > details:first-of-type[open] > nav {
	background-color: var(--header-nav-background-color);
	border-color: var(--header-nav-border-color);
	color: var(--header-nav-text-color);
}

header:first-of-type nav a {
	color: var(--header-nav-link-color);
}

header:first-of-type nav a:link {
	color: var(--header-nav-link-color);
}

header:first-of-type nav a:visited {
	color: var(--header-nav-visited-color);
}

header:first-of-type nav a:hover {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

header:first-of-type nav a:active {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

main > footer:last-of-type > details[open] {
	background-color: var(--popup-box-background-color);
	color: var(--popup-box-text-color);
}

main > footer:last-of-type > details[open] + aside {
	background-color: var(--popup-box-background-color);
	color: var(--popup-box-text-color);
}

body > div > footer:last-of-type {
	background-color: var(--header-nav-background-color);
	border-color: var(--header-nav-border-color);
	color: var(--header-nav-text-color);
}

body > div > footer:last-of-type a:link {
	color: var(--header-nav-link-color);
}

body > div >  footer:last-of-type a:visited {
	color: var(--header-nav-visited-color);
}

body > div > footer:last-of-type a:hover {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}

body > div > footer:last-of-type a:active {
	background-color: var(--header-nav-hover-background-color);
	color: var(--header-nav-hover-text-color);
}
