table {
	border-style: solid;
	border-width: 8px;
	border-collapse: collapse;
}

thead tr:last-of-type {
	border-bottom-style: ridge;
	border-bottom-width: 8px;
}

th {
	padding: .4em;
}

th:nth-of-type(n + 2) {
	border-left-style: solid;
	border-left-width: 2px;
}

td {
	padding: .4em;
}

td:nth-of-type(-n + 2) {
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

td:nth-of-type(n + 2) {
	border-left-style: solid;
	border-left-width: 2px;
}
