table {
	border-width: 8px;
	border-style: solid;
	border-collapse: collapse;
}

thead tr:last-of-type {
	border-block-end-width: 8px;
	border-block-end-style: ridge;
}

th {
	padding: .4em;
}

th:nth-of-type(n + 2) {
	border-inline-start-width: 2px;
	border-inline-start-style: solid;
}

td {
	padding: .4em;
}

td:nth-of-type(n + 2) {
	border-inline-start-width: 2px;
	border-inline-start-style: solid;
}

tr:nth-of-type(n + 1) td {
	border-block-end-width: 2px;
	border-block-end-style: solid;
}
