table {
	margin-block: 1rem;
	inline-size: 100%;
	table-layout: fixed;
}

@media screen and (width >= 700px) and (resolution < 2dppx) {
	main > table {
		inline-size: calc(100% - 1.2em);
	}
}

@media screen and (width >= 1200px) and (resolution >= 2dppx) {
	main > table {
		inline-size: calc(100% - 1.2em);
	}
}
