/* Typography - basic font sizing and rhythm */

/* We do this to set 1rem to 12pt */
html {
	font-size: 12pt;
}

/* The main typography */

:root {
	/* 1cm so that lines with links match the links; links are a minimum of 1cm
		to ensure appropriate minimum tap target size
	*/
	line-height: 1cm;
}

h1 {
	margin-block: .4em;
	font-size: 1.85rem;
}

h2 {
	margin-block: .4em;
	font-size: 1.47rem;
}

h3 {
	margin-block: .4em;
	font-size: 1.27rem;
}

h4 {
	margin-block: .4em;
	font-size: 1.19rem;
}

h5 {
	margin-block: .4em;
	font-size: 1.09rem;
}

h6 {
	margin-block: .4em;
	font-size: 1.01rem;
}

hr {
	margin-block: 2em;
}

p {
	margin-block: 1em;
}
