/* CSS for top-level page layout */

body {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
}

body header + div {
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100%;
	overflow-y: auto;
}

main {
	left: 0;
	position: relative;
	top: 0;
	z-index: 5
}
